* {
      padding: 0px;
      margin: 0px;
      color: #ddd;
      font-family: 'Oswald', sans-serif;
}

.cover {
      width: 100vw;
      height: 100vh;
      background-color: #040404;
}

h1 {
      font-size: 70px;
      padding-top: 18%;
}

h3 {
      font-size: 35px;
}
